@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&family=Open+Sans:wght@400;800&display=swap');

:root{
    --black: #000000;
    --grass: #7ed957;
    --off-white: #edeced;
    --white: #ffffff;
}

* {
    border: 1px solid red;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 2fr 5fr 3fr;
    background: var(--off-white);
}